/*

   Final Exam for CSC230
      Author: Jasmine Sanders
      Date: 12/14/2025

      Filename: finalExam.css
      Required Files: 
      Description: style sheet for final project for CSC230-Website Design (Fall 2025)

*/