@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Case Problem 1
   
   Layout styles for Slate and Pencil Tutoring
   Author: Jasmine Sanders
   Date:   11/14/2025
   
   Filename: sp_layout.css

*/

/* Window and Body Styles */
html {
   height: 100%;
}

body {
   width: 95%;
   max-width: 960px;
   min-width: 640px;
   margin: 0 auto;
   min-height: 100%;
}

img {
   display: block;
}

/* Grid Styles */
body {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
}

img#logo {
   grid-column: span 3;
   width: 100%;
}

nav.horizontal, footer {
   grid-column: span 4;
}

aside {
   grid-column: span 2;
}

/* Page Header Styles */






/* Horizontal Navigation List Styles */
nav.horizontal ul li {
   display: block;
   width: 12.5%;
   float: left;
}

/* Topics Styles */






/* HR Styles */




/* Customer Comment Styles */



/* Footer Styles */


