@charset "utf-8";

/*
   New Perspectives on HTML and CSS
   Tutorial 6
   Tutorial Case

   Columns Style Sheet
   Author: Jasmine Sanders
   Date:   12/06/2025

   Filename:         dlr_columns.css

*/



/* Column Styles */

