@charset "utf-8";
/*
   Modified from Tutorial 1 base.css from New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial Case
   Filename: JKS_layout1.css

   This file contains the layout styles used in the ct_start.html page.

*/

/* =============================================
	Base layout styles used by mobile devices
	up to 480px and cascaded to larger devices 
	unless superceded by other styles.
   =============================================
*/

*{
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #1d754f;
}

/* Style the topnav links */
.topnav a {
  float: none;
  display: inline-block;
  color: #ffffff;
  padding: 14px 16px;
  vertical-align: middle;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #32c491;
  color: black;
}

/* Style the content */
.content {
  background-color: #209868;
  padding: 10px;
}

/* Aside styling */
aside {
    float: right; /* Float the aside to the right */
    width: 66.66%; /* Approximately 2/3 of the screen width */
    margin-left: 20px; /* Add some space between main content and aside */
    background-color: #f0f0f0; /* Optional: for visual distinction */
    padding: 20px; /* Add padding inside the aside */
    box-sizing: border-box; /* Include padding in the width calculation */
}

aside h3 { /* Selects an h3 header directly within an aside */
  text-align: center;
}

/* Style the footer */
.footer {
  background-color: #1c4231;
  color: #ffffff;
  padding: 10px;
}

/* Style the topnav links */
.footer a {
  color: #32c491;
}

/* Create rows */
      .row {
        display: flex;
        flex-wrap: wrap;
        padding: 0 4px;
      }

      /* Create four equal columns that sits next to each other */
      .column {
        flex: 25%;
        padding: 0 4px;
      }

      .column img {
        margin-top: 8px;
        vertical-align: middle;
      }
